<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="VRContext" connectionString="data source=.;initial catalog=VRTruck;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OracleContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=ORCL;Persist Security Info=True;User ID=system;Password=123456" />
  </connectionStrings>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <!--<setting name="TNS_ADMIN" value="d:\program files (x86)\oracle developer tools for vs2015\network\admin\"/>-->
      </settings>
      <dataSources>
        <!--<dataSource alias="LISTENER_ORCL" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>-->
        <dataSource alias="ORCL" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl.fsoft.fpt.vn))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>